@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');
html {
  font-size: 18px; /* Define root font-size */
} font-size: 25px; /* Define root font-size * /
}

/* MAIN COPY SIZING */
h1 { font-size: 2.25rem; /* Computes to 40.50px */ }
h2 { font-size: 2.5rem;  /* Computes to 27.00px */ }
h3 { font-size: 1.5rem;/* Computes to 20.25px */}
h4 { font-size: 1.05rem; font-style: italic; }
h5 { font-size: 2.05rem; font-style: bold, italic; }


/* MAIN FONT FAMILIES */
h1, h2,{
  font-family: Monoton;
  text-align: justify;
}

h3, h4, h5, p {
  font-family: Roboto;
  text-align: justify;
}


/*--------------------------------------
 General Visual Styling
 -------------------------------------*/

header, nav, section {
  color: #ffa500;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: url('received_1000290490091008.jpeg');
  background-attachment: scroll, fixed;
  background-color: lightyellow;
  background-size: contain;
}
header, nav, section {
  /* Help distinguish the different grid items */
  padding: 1em;
  border: #3cb371 solid 0.5px;
}
p {
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
}

/*--------------------------------------
 Grid Layout
 -------------------------------------*/
/*
  CSS Grid Reference:
    https://css-tricks.com/snippets/css/complete-guide-grid/
*/
main {
  display: grid; /*define grid on parent*/
  grid-gap: 1rem;
}
header {
  /*
    Note how 6 is the largest track
    number for columns.
  */
  grid-column: 1 / 6;
}
nav {
  grid-column: 2 / 6;
}
section#bio {
  grid-column: 1 / 2;
  /*
    Note how 6 is the largest track
    number for rows.
  */
  grid-row: 2 / 6;
}
section#content {
  grid-column: 2 / 6;
  grid-row: 3 / 6;
}

/*--------------------------------------
 <MAIN> Children Styles
 -------------------------------------*/
/*
  CSS Flexbox Reference:
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
/* Header (with flexbox) */
header {
  display: flex;
  align-items: center;
}
header img {
  margin-right: 15px;
}

/* Navigation (with flexbox) */
nav ul {
  display: flex;
  justify-content: space-between;
  /* CSS overrides */
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
}
